@import "styles";

.select {
  width: 100%;

  &__box {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    color: var(--blue-50);
    border: 1px solid var(--black-800);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__empty {
    width: 100%;
  }

  &__arrow {
    transition: transform 0.3s;
    transform: rotate(0deg);

    @include useHardSize(24px);

    &_active {
      transform: rotate(-180deg);
    }
  }

  &__optionsWrapper {
    z-index: 10000;
    background: var(--black-900);
    border: 1px solid var(--black-700);
    color: var(--blue-50);

    padding: 8px;
    border-radius: 12px;

    width: 100%;

    & > * {
      margin-right: -4px;

      & > * {
        padding-right: 4px;
      }
    }
    &.withoutStretch {
      width: auto;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 8px;

    overflow: auto;
  }

  &__option {
    color: var(--blue-50);
    background-color: transparent;
    border-radius: 12px;
    padding: 12px;
    width: 100%;

    transition:
      background-color 0.25s,
      color 0.25s;

    &:hover {
      background-color: var(--black-800);
      color: var(--valhalla-400);
    }
  }
}
